<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Page {{ get_domain() }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css" integrity="sha256-VZi/r/RC1MritcGE2Yyxb/ACi8WIOj1Y7BHuslF8+6I=" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <style>
            html, body {
                height: 100%;
                color: #e5e5e5;
                background-color: #212121;
            }
        </style>
    </head>
    <body>

        <nav class="navbar navbar-expand-xl navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">{{ get_domain() }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="menu-buttons">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Main page</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="index.php?page=guestbook">Guestbook</a>
                        </li>
                    </ul>
                    <form action="" method="POST" class="row d-flex">
                        <div class="col-auto pt-2 pt-sm-0" style="padding-right: 0px;">
                        <input type="text" name="email" class="form-control" placeholder="Email" aria-label="email" style="width: 170px;">
                        </div>
                        <div class="col-auto pt-2 pt-sm-0" style="padding-right: 0px;">
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" style="width: 170px;">
                        </div>
                        <div class="col-auto pt-2 pt-sm-0">
                        <button class="btn btn-info" type="submit" style="width: 120px;">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="p-5 rounded" style="background-color: rgb(40, 42, 50); margin-bottom: 2rem;">
            <div class="container">
                <h1 class="display-4">Public blog</h1>
                <p class="lead">Write any article</p>
                <hr class="my-4">
                <p>and we'll publish it xD</p>
            </div>
        </div>

        <div class="container mb-5">
            <div class="row">
                <div class="col-md-8">

                <!-- get_msg() to tak naprawdę metoda TwigHelper::getMsg() z pliku helpers.inc.php -->
                {% for msg in get_msg() %}
                <div id="alerts">
                    {% if msg.type == 'success' %}
                    <div class="alert alert-success">{{ msg.text }}</div>
                    {% elseif msg.type == 'error' %}
                    <div class="alert alert-danger">{{ msg.text }}</div>
                    {% else %}
                    <div class="alert alert-primary">{{ msg.text }}</div>
                    {% endif %}
                </div>
                {% endfor %}

                {% block content %}
                {% endblock %}

                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Last 10 articles
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer mt-auto py-3" style="background-color: rgb(25, 25, 25);">
            <div class="container">
                <span class="text-muted">Made by me.</span>
            </div>
        </footer>

    </body>
</html>
