{% extends "base.html" %}

{% block content %}

<div class="container">
    <h2>Witaj w RedMicStudio!</h2>
    <img class="studio-image" src="../resources/studio.jpg" width="100%" alt="Studio Nagraniowe">
    <p>Zapraszamy do skorzystania z naszych profesjonalnych usług nagraniowych. Jesteśmy gotowi pomóc Ci w realizacji
        Twoich muzycznych projektów.</p>
    <div class="contact-info">
        <p>Numer telefonu: 606 975 616</p>
        <p>Adres email: brysia@poczta.onet.pl</p>
        <p>Adres studio: 33-113 Zgłobice, ul. Krótka 11</p>
    </div>
    <a href="https://www.facebook.com/redmicstudio" target="_blank">
        <img class="social-icon" src="../resources/facebook_icon.png" alt="Facebook" />
      </a>
      <a href="https://www.instagram.com/radek.tadel/" target="_blank">
        <img class="social-icon" src="../resources/instagram_icon.png" alt="Instagram" />
      </a>
</div>

{% endblock %}